body {
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  background: #a2d2ff;
  color: #ffffff;
  /* display: flex; /* # NEW  */
  /* flex-direction: column;  # NEW  */
  /* align-items: center;  NEW  */
}

#bbf-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #eeb0c9;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0px 0px 1px black;
}

#bday-age {
  background: #eeb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #eeb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("gift-cover.jpg");
  background-size: cover;
}

#gift-img-happy:hover {
  background-image: url("gifs/happy.gif");
}

#gift-img-hot:hover {
  background-image: url("gifs/hot.gif");
}

#gift-img-genius:hover {
  background-image: url("gifs/genius.gif");
}

#gift-img-badass:hover {
  background-image: url("gifs/badass.gif");
}
