body {
  margin: 0px;
  color: #82a5ca;
  text-align: center;
  font-family: Orbitron, sans-serif;
}

#main-logo {
  width: 100px;
}

.hero {
  background-image: url("galaxy.webp");
  background-size: cover;
  padding: 10px 0 40px 0;
}

.btn {
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: inherit;
  color: inherit;
  font-weight: bold;
}

.cta {
  border-bottom: 4px solid white;
}

#title {
  text-shadow: 0px 0px 4px black;
}

.btp {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.btp a {
  text-decoration: none;
  color: #337ab7;
}

.btp a:hover {
  color: #23527c;
}
